html,
body {
  margin: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.container {
  box-sizing: border-box;
  width: 98%;
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    padding: 0.2rem;
  }
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v5/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format('woff');
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
@media screen and (max-width: 400px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}
hr {
  border: none;
  border-bottom: 1px solid #d3d3d3;
  height: 1px

	margin:5px 0;
}
.text-mute {
  color: #d3d3d3;
}
.panel {
  box-sizing: border-box;
  padding: 0.5rem;
  background: #f2f2f2;
  border: 1px solid #d3d3d3;
}
