// Manual floating for things such as headers
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}

.push-down{
	margin-bottom:50px !important;
}
.big-push-down{
	margin-bottom:100px !important;
}
.push-up{
    margin-up:50px !important;
}
.clearfix{
	&:before, &:after{
		content:" ";
		display:table;
	}
	&:after{
		clear:both;
	}
}

// The container, a responsive 
.container{

	box-sizing:border-box;

	width:98%;
	max-width:1000px;
	margin:0 auto;

	transition: max-width 0.2s;

	// On small monitors...
	.respond-small({
		max-width: 700px;
	});

	// On phones...
	.respond-phone({
		padding:0.2rem;
	});

}