// General visibility panel
.panel{

	// fix padding screwing with height/width/overflowing
	box-sizing:border-box;
	padding:0.5rem;

	background:@light;
	border:1px solid @dark;

	margin:10px auto;
}


// The hero panel, a subset of panel
.hero{
	.panel();

	padding:4rem 0.5rem;
	border:none;

	text-align:center;
}


// Button class to be applied to <a> and <button> elements. It may work on others such as <span>
.button{

	box-sizing:border-box;

	background:linear-gradient(@light, @dark);
	border:1px solid @dark;
	transition:all 0.2s;
	white-space:nowrap;

	color:@font-color;
	text-decoration:none;

	padding:5px;

	&:hover{
		background: linear-gradient(@dark, @light);
	}
	&:active{
		background:@light;
	}


}
.button.segment{
	border-right:none;
}