// General visibility panel
.panel{

	// fix padding screwing with height/width/overflowing
	box-sizing:border-box;
	padding:0.5rem;

	background:@light;
	border:1px solid @dark;
}


// The hero panel, a subset of panel
.hero{
	// Extend panel
	.panel();

	padding:4rem 0.5rem;
	border:none;

	text-align:center;
}


// Button class to be applied to <a> and <button> elements. It may work on others such as <span>.
.button{

	background:linear-gradient(@light, @dark);
	border:1px solid @dark;

	white-space:nowrap;
	box-sizing:border-box;

	color:@font-color;
	text-decoration:none;
	transition:all 0.2s;

	padding:5px;

	&:hover{
		background: linear-gradient(@dark, @light);
	}
	&:active{
		background:@light;
	}


}
// Remove border right to get a button-group effect since this is inline.
.button.segment{
	border-right:none;
}

// Tags are small colored blocks that are similar to that from Twitter Bootstrap
.tag{
	background:@dark;
	padding:0.1rem;
	font-size:70%;
	text-align:middle;
}

// Outline class for things like nested hero units or something.
.outlined{
	border:1px solid @dark;
}
